.navBrand{
    display: flex;
    align-items: center;
}

.navItem{
    margin-right: 3rem;
}

.navBarCollapse{
    padding-right: 1.2rem;
}

.brandName{
    margin-left: 1.5rem;
}

.navRight{
    margin-left: 25rem;
}