
.chooseHeading{
    background-image: linear-gradient(to right, #0d0d0d, #6d6860);
    color:#fff;
    padding:20px;
}

li{
    list-style: none;
}

.chooseImg{
    width: 100%;
    height:100%;
}

.headingWhyChoose{
    text-align: center;
    font-weight: 600;
}


