<center> <h1>About Us</h1></center> 
   <!-- Linking starts of vertical nav-->

    <div class="container mtb">
        <div class="row">
            <div class="col-lg-3">
                <div class="gap"><br><br><br></div>
                <ul style="list-style: none;" class="nav flex-column" id="myTab1">

                    <li class="nav-item"><a href="#vision NIa" class="nav-link active size"
                            onclick="visionFunctionality()">Vision</a></li>
                    <li class="nav-item"><a href="#mission NIa" class="nav-link size"
                            onclick="missionFunctionality()">Mission</a></li>
                    <li class="nav-item"><a href="#belief NIa" class="nav-link size"
                            onclick="beliefFunctionality()">Belief</a></li>
                    <li class="nav-item"><a href="#collab NIa" class="nav-link size"
                            onclick="collabFunctionality()">Collaborations</a></li>
                    <li class="nav-item"><a href="#funding NIa" class="nav-link size"
                            onclick="fundingFunctionality()">Funding</a></li>
                </ul>

</div>
            <div class="col-lg-9">
                <div class="visibility" id="vision" style="display:block;">
                    <div class="gap"><br><br></div>
                    <div class="container" style="width: 75%;">
                        <div class="jumbotron">
                            <h2>VISION</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="visibility active" id="mission" style="display:none;">
                    <div class="gap"><br><br></div>
                    <div class="container" style="width: 75%;">
                        <div class="jumbotron">
                            <h2>MISSION</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="visibility" id="belief" style="display:none;">
                    <div class="gap"><br><br></div>
                    <div class="container" style="width: 75%;">
                        <div class="jumbotron">
                            <h2>BELIEF</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            </p>
                        </div>
                    </div>
                </div>

                <div id="collab" style="display:none;">
                    <div class="gap"><br><br></div>
                    <div class="container" style="width: 75%;">
                        <div class="jumbotron">
                            <h2>COLLABORATIONS</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="visibility" id="funding" style="display:none;">
                    <div class="gap"><br><br></div>
                    <div class="container" style="width: 75%;">
                        <div class="jumbotron">
                            <h2>FUNDING</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>