<!-- Footer -->
<section id="footer" class="footer">
    <div class="container">
        <div class="row text-sm-left text-md-left text-xs-left">
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h2 class="footerTitle">About Us</h2>
                <ul class="list-unstyled quick-links">
                    <li><a href="about.html"><i class="fa fa-angle-double-right"></i>About</a></li>
                    <li><a href="ourWork.html"><i class="fa fa-angle-double-right"></i>Our Work</a>
                    </li>
                    <li><a href="blog.html"><i class="fa fa-angle-double-right"></i>Blog</a></li>
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Privacy Policy</a></li>
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Terms And Conditions</a></li>
                    <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>FAQ</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h2 class="footerTitle">Services</h2>
                <ul class="list-unstyled quick-links">
                    <li><a href="service-web-dev.html"><i class="fa fa-angle-double-right"></i>Web Development</a></li>
                    <li><a href="service-and-app-dev.html"><i class="fa fa-angle-double-right"></i>Android App Development</a>
                    </li>
                    <li><a href="service-ios.html"><i class="fa fa-angle-double-right"></i>IOS</a></li>
                    <li><a href="service-seo.html"><i class="fa fa-angle-double-right"></i>SEO</a></li>
                    <li><a href="service-smm.html"><i class="fa fa-angle-double-right"></i>SMM</a></li>
                    <li><a href="service-grph-des.html"><i class="fa fa-angle-double-right"></i>Graphic Designing</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h2 class="footerTitle" class="contact-new" style="margin-bottom: 2.5rem;">Contact Us</h2>
                <!-- <ul class="list-unstyled quick-links">
                            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Home</a></li>
                            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>About</a></li>
                            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>FAQ</a></li>
                            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Get Started</a></li>
                            <li><a href="https://wwwe.sunlimetech.com" title="Design and developed by"><i class="fa fa-angle-double-right"></i>Imprint</a></li>
              </ul> -->
                <h4 class="brand-name">PLATFORM TECH SOLUTIONS</h4><br>
                <p class="address">Panjab University SSG Regional Center
                    Hoshiarpur-146023, Punjab, India<br>
                    Mobile No. : (+91)9631560280 <br>
                    Email : support@platformtechs.com</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 text-center">
                <a href="https://facebook.com/colorlib" target="_blank" class="socialBtn facebook"><span><i
                            class="fa fa-facebook" aria-hidden="true"></i></span>
                    <p>Facebook</p>
                </a>

                <a href="https://twitter.com/colorlib" target="_blank" class="socialBtn twitter"><span><i
                            class="fa fa-twitter" aria-hidden="true"></i></i></span>
                    <p>Twitter</p>
                </a>

                <a href="https://plus.google.com/+Colorlib" target="_blank" class="socialBtn google-plus"><span><i
                            class="fa fa-google-plus" aria-hidden="true"></i></span>
                    <p>Google +</p>
                </a>

                <a href="https://github.com/puikinsh" target="_blank" class="socialBtn github"><span><i
                            class="fa fa-github" aria-hidden="true"></i></span>
                    <p>Github</p>
                </a>


                <a href="https://www.linkedin.com/company/colorlib" target="_blank" class="socialBtn linkedin"><span><i
                            class="fa fa-linkedin" aria-hidden="true"></i></span>
                    <p>Linkedin</p>
                </a>
                <a href="#" class="socialBtn skype"><span><i class="fa fa-skype" aria-hidden="true"></i></span>
                    <p>Skype</p>
                </a>
                
                <a href="https://www.pinterest.com/colorlib/" target="_blank" class="socialBtn pinterest"><span><i
                            class="fa fa-pinterest" aria-hidden="true"></i></span>
                    <p>Pinterest</p>
                </a>
                <a href="#" class="socialBtn instagram"><span><i class="fa fa-instagram" aria-hidden="true"></i></span>
                    <p>Instagram</p>
                </a>
                <a href="#" class="socialBtn dribbble"><span><i class="fa fa-dribbble" aria-hidden="true"></i></span>
                    <p>Dribbble</p>
                </a>
            </div>
            </hr>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                <!-- <p><u><a href="https://www.nationaltransaction.com/">National Transaction Corporation</a></u> is a Registered MSP/ISO of Elavon, Inc. Georgia [a wholly owned subsidiary of U.S. Bancorp, Minneapolis, MN]</p> -->
                <p>2019 &nbsp; &copy &nbsp; All Right Reversed Platform Tech
                    Solutions</p>
            </div>
            </hr>
        </div>
    </div>
</section>
<!-- ./Footer -->