
      <!-- Footer -->
      <section id="footer">
            <div class="container">
                <div class="row text-center text-xs-center text-sm-left text-md-left">
                    <div class="col-xs-12 col-sm-4 col-md-4">
                        <h5>About Us</h5>
                        <ul class="list-unstyled quick-links">
                            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>About</a></li>
                            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Our Work</a></li>
                            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Blog</a></li>
                            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Terms And Conditions</a></li>
                <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Privacy Policy</a></li>
                <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>FAQ</a></li>
                        </ul>
                    </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                        <h5>Services</h5>
                        <ul class="list-unstyled quick-links">
                            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Web Development</a></li>
                            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Android App Development</a></li>
                            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>IOS</a></li>
                            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>SEO</a></li>
                <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>SMM</a></li>
                <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Graphic Designing</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4">
                        <h5 class="contact-new" style="margin-bottom: 2.5rem;">Contact Us</h5>
                        <!-- <ul class="list-unstyled quick-links">
                            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Home</a></li>
                            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>About</a></li>
                            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>FAQ</a></li>
                            <li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Get Started</a></li>
                            <li><a href="https://wwwe.sunlimetech.com" title="Design and developed by"><i class="fa fa-angle-double-right"></i>Imprint</a></li>
              </ul> -->
             <h4 class="brand-name">PLATFORM TECH SOLUTIONS</h4><br>
             <p class="address">Panjab University SSG Regional Center
              Hoshiarpur, India, 146023
              Mobile No.:- (+91)9631560280,
              Email:- support@platformtechs.com</p>
                    </div>
          </div>
          <div class="row" style="margin-top: -20px;">
                    <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
                        <ul class="list-unstyled list-inline social text-center">
                            <li class="list-inline-item"><a href="https://www.facebook.com/platformTechs/" target="_blank"><i class="fa fa-facebook social-icon"></i></a></li>
                            <li class="list-inline-item"><a href="https://twitter.com/platformtechs" target="_blank"><i class="fa fa-twitter social-icon"></i></a></li>
                            <li class="list-inline-item"><a href="https://www.instagram.com/platformtechs/" target="_blank"><i class="fa fa-instagram social-icon"></i></a></li>
                            <li class="list-inline-item"><a href="https://www.linkedin.com/company/platformtechsolutions/?viewAsMember=true" target="_blank"><i class="fa fa-linkedin-square social-icon"></i></a></li>
                            <!-- <li class="list-inline-item"><a href="javascript:void();" target="_blank"><i class="fa fa-envelope"></i></a></li> -->
                        </ul>
                    </div>
                    </hr>
                </div>	
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                        <!-- <p><u><a href="https://www.nationaltransaction.com/">National Transaction Corporation</a></u> is a Registered MSP/ISO of Elavon, Inc. Georgia [a wholly owned subsidiary of U.S. Bancorp, Minneapolis, MN]</p> -->
                        <p class="h6" style="margin-bottom: 0px;">&copy All right Reversed.</p>
                    </div>
                    </hr>
                </div>	
            </div>
        </section>
        <!-- ./Footer -->