<script type="text/javascript">
    AOS.init({
      duration: 1500,
    });
  </script>
  
=======
<!-- ==libarary file import==-->
<script src="{{'/assets/vendor/js/jquery-1.11.3.min.js'}}" type="text/javascript"></script>
<script src="{{'/assets/vendor/js/bootstrap.js'}}" type="text/javascript"></script>
<script src="{{'/assets/vendor/js/jquery.cardslider.min.js'}}" type="text/javascript"></script>
<script src="{{'/assets/vendor/js/aos.js'}}" type="text/javascript"></script>


<!--  ==custom/userFile file== -->


<!-- ===js for cardSlider=== -->
<script>
    $(function(){$("#cardSlider1").cardSlider({autoPlay:!0}),$("#demoslider2").cardSlider({autoPlay:!0})});
</script>
<script type="text/javascript">
    AOS.init({
        duration: 1500,
    });
</script>

