<div class="form-map">
    <div class="row foot">
        <div class="col-sm-6 col-lg-6 col-md-12 col-12 map">
            <div class="mapouter">
                <div class="gmap_canvas">
                    <iframe width="600" height="500" id="gmap_canvas"
                        src="https://maps.google.com/maps?q=Uiet%20hoshiarpur&t=&z=13&ie=UTF8&iwloc=&output=embed"
                        frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                    <a href="https://www.pureblack.de"></a>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-lg-6 col-md-12 col-12">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="well">
                    <h1 class="text-center head"><b>Drop Your Query</b></h1>
                    <form class="form-horizontal" action="https://formspree.io/deepak19.engg@gmail.com"
                        method="POST">
                        <div class="form-group"><label for="Name" class="control-label head">Enter Your Name
                                :</label>
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-user"></i></div><input type="text"
                                    class="form-control" name="name">
                            </div>
                        </div>
                        <div class="
                    form-group"><label for="Name" class="control-label head">Enter Your Email* :</label>
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-envelope"></i></div><input
                                    type="email" class="form-control" name="_replyto">
                            </div>
                        </div><input type="hidden" name="_subject" value="submission from site">
                        <div class="form-group"><label for="Name" class="control-label head">Enter the message
                                :</label><textarea class="form-control" name="message" rows="5"></textarea></div>
                        <p class="text-center"><button type="submit" class="btn btn-success">Submit Now</button></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>