<div class="container-fluid landing-box row" data-aos="fade-up" data-aos-offset="200" data-aos-easing="ease-in-sine" data-aos-duration="500">
    <h1 class="col-lg-12 col-12 col-md-12" >Our Projects
      <div class="line"></div>
    </h1>
    <div class="col-lg-4 col-12 col-md-4" data-aos="flip-down" data-aos-offset="200" data-aos-easing="ease-in-sine" data-aos-duration="500" >
      <div class="media-background">
        <div  class="media-object">
          <img src="images/Yantrix.png" alt="Project Yantrix" class="img-fluid">
          <div class="media-heading">
            <h3>PROJECT YANTRIX</h3>
          </div>
          <div class="media-description">
            <a href="#target1"><button type="button" name="button" class="btn btn-primary">Learn More</button></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-12 col-md-4" data-aos="flip-down" data-aos-offset="200" data-aos-easing="ease-in-sine" data-aos-duration="500" data-aos-delay="115">
      <div class="media-background">
        <div class="media-object">
          <img  class="img-fluid" src="images/ecell1.png" class="img-fluid" alt="Project ECELL">
          <div class="media-heading">
            <h3>PROJECT ECELL</h3>
          </div>
          <div class="media-description">
            <a href="#target2"><button type="button" name="button" class="btn btn-primary">Learn More</button></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-12 col-md-4" data-aos="flip-down" data-aos-offset="200" data-aos-easing="ease-in-sine" data-aos-duration="500"  data-aos-delay="250">
      <div class="media-background">
        <div class="media-object">
          <img src="images/mla_Track.png"  class="img-fluid" alt="Project MLA TRACK">
          <div class="media-heading">
            <h3> PROJECT MLA TRACK</h3>
          </div>
          <div class="media-description">
            <a href="#target3"><button type="button" name="button" class="btn btn-primary">Learn More</button></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-12  col-md-4" data-aos="flip-down" data-aos-offset="200" data-aos-easing="ease-in-sine" data-aos-duration="500" data-aos-delay="350">
      <div class="media-background">
        <div class="media-object">
          <img src="images/Mun.png" class="img-fluid" alt="Project MUN">
          <div class="media-heading">
            <h3> PROJECT MUN</h3>
          </div>
          <div class="media-description">
            <a href="#target4">
              <button type="button" name="button" class="btn btn-primary">Learn More</button>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-12 col-md-4" data-aos="flip-down" data-aos-offset="200" data-aos-easing="ease-in-sine" data-aos-duration="500" data-aos-delay="450">
      <div class="media-background">
        <div class="media-object">
          <img src="images/aemwia.png"  class="img-fluid" alt="Project AEMIA">
          <div class="media-heading">
            <h3> PROJECT AEMWIA</h3>
          </div>
          <div class="media-description">
            <a href="#target5">
              <button type="button" name="button" class="btn btn-primary">Learn More</button>
            </a>
            </div>
          </div>
        </div>
      </div>
      <div class=" col-md-4 col-lg-4 col-12 " data-aos="flip-down" data-aos-offset="200" data-aos-easing="ease-in-sine" data-aos-duration="500" data-aos-delay="600">
        <div class="media-background">
          <div class="media-object">
            <img src="images/comingsoon.jpg" alt="Project TIPTOPTUTOR">
            <div class="media-heading">
              <h3>TIPTOPTUTOR</h3>
            </div>
            <div class="media-description">
              <a href="#target6">
                <button type="button" name="button" class="btn btn-primary disabled">COMING SOON</button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>













<div id="target1"></div>

<!-- Project Yantrix briefing -->
 <div  id="YANTRIX" class="container-fluid briefing group row" >
  <div class="briefing-header col-lg-12 col-12 col-md-12">
    <h1>PROJECT YANTRIX</h1>
  </div>
  <div class="briefing-content col-lg-4 col-12" data-aos="fade-right" data-aos-offset="200" data-aos-easing="ease-in-sine" data-aos-duration="500">
    <p>Yantrix is the official technical group of PUSSGRC.</p>
  </div>
  <div class="briefing-media col-lg-8 col-12">
    <img  class="img-fluid" data-aos="fade-left" data-aos-offset="200" data-aos-easing="ease-in-sine" data-aos-duration="500" src="images/Yantrix.png" alt="Project Yantrix">
    <a href="https://pussgrc.github.io/" target="_blank" data-aos="fade-left" data-aos-offset="200" data-aos-easing="ease-in-sine" data-aos-duration="500"> 
      <button  class="ddd btn_width1 btn_width2 btn btn-success" type="button" name="button">Visit</button></a>
  </div>
    <div class="heading col-lg-12 col-12" data-aos="fade-up" data-aos-offset="200" data-aos-easing="ease-in-sine" data-aos-duration="500">
  </div>

</div>
<!-- Project Yantrix Briefing Ends -->

<div id="target2"></div>

<!-- Project Ecell briefing -->
<div  id="ECELL" class="container-fluid briefing row" >
  <div class="briefing-header-opp col-lg-12 col-12">
    <h1>PROJECT ECELL</h1>
  </div>
  
  <div class="briefing-media-opp col-lg-8 col-12">
    <img class="img-fluid" src="images/ecell1.png" alt="Project Ecell" data-aos="fade-right" data-aos-offset="200" data-aos-easing="ease-in-sine" data-aos-duration="500">
    <a href="http://ecell-pussgrc.ml/?i=1" target="_blank" data-aos="fade-right" data-aos-offset="200" data-aos-easing="ease-in-sine" data-aos-duration="500"> 
      <button  class="ddd2 btn_width1 btn_width2 btn btn-success" type="button" name="button">Visit</button></a>
  </div>
  <div class="briefing-content-opp col-lg-4 col-12" data-aos="fade-left" data-aos-offset="200" data-aos-easing="ease-in-sine" data-aos-duration="500">
    <p>Ecell is the central technical group of PUSSGRC</p>
  </div>
   <div class="heading col-lg-12 col-12" data-aos="fade-up" data-aos-offset="200" data-aos-easing="ease-in-sine" data-aos-duration="500">
  </div>
 
</div>
<!-- Project Ecell Briefing Ends -->

<div id="target3"></div>

<!-- Project Mla Track briefing -->
<div  id="MLA_TRACK" class="container-fluid briefing row">
  <div class="briefing-header col-lg-12 col-12">
    <h1>PROJECT MLA TRACK</h1>
  </div>
  <div class="briefing-content col-lg-4 col-12" data-aos="fade-right" data-aos-offset="200" data-aos-easing="ease-in-sine" data-aos-duration="500">
    <p>MLA track was an app developed for showing records of MLA's in Southern India.
    </p>
  </div>
  <div class="briefing-media col-lg-8 col-12">
    <img class="img-fluid" src="images/mla_Track.png" alt="Project MLA TRACK" data-aos="fade-left" data-aos-offset="200" data-aos-easing="ease-in-sine" data-aos-duration="500">
    <a href="http://mlatrack.com/" target="_blank" data-aos="fade-left" data-aos-offset="200" data-aos-easing="ease-in-sine" data-aos-duration="500"> 
      <button  class="ddd3 btn_width1 btn_width2 btn btn-success" type="button" name="button">Visit</button></a>
  </div>
   <div class="heading col-lg-12 col-12" data-aos="fade-up" data-aos-offset="200" data-aos-easing="ease-in-sine" data-aos-duration="500"> 
  </div>

</div>
<!-- Project Mla track Briefing Ends -->

<div id="target4"></div>

<!-- Project Mun briefing -->
<div  id="MUN" class="container-fluid briefing row">
  <div class="briefing-header-opp col-lg-12 col-12">
    <h1>PROJECT MUN</h1>
  </div>
  <div class="briefing-media-opp briefing-media-mun col-lg-8 col-12" style="margin-bottom: 0">
    <img class="img-fluid" src="images/Mun.png" alt="Project MUN" data-aos="fade-right" data-aos-offset="200" data-aos-easing="ease-in-sine" data-aos-duration="500">
    <a href="https://platformtech.gitlab.io/pussgrcMun/" target="_blank" data-aos="fade-right" data-aos-offset="200" data-aos-easing="ease-in-sine" data-aos-duration="500">
       <button  class="ddd4 btn_width1 btn_width2 btn btn-success" type="button" name="button">Visit</button></a>
  </div>
  <div class="briefing-content-opp col-lg-4 col-12" data-aos="fade-left" data-aos-offset="200" data-aos-easing="ease-in-sine" data-aos-duration="500">
    <p>  Website for Modern United Nation's conference was made by PTS. The conference was held at
    PUSSGRC, Hoshiarpur.</p>
  </div>
 
   <div class="heading col-lg-12 col-12" data-aos="fade-up" data-aos-offset="200" data-aos-easing="ease-in-sine" data-aos-duration="500">   
   </div>

</div>
<!-- Project Mun Briefing Ends -->

<div id="target5"></div>

<!-- Project AEMWIA briefing -->
<div  id="AEMWIA" class="container-fluid briefing row" >
  <div class="briefing-header col-lg-12 col-12">
    <h1>PROJECT AEMWIA</h1>
  </div>
  <div class="briefing-content col-lg-4 col-12" data-aos="fade-right" data-aos-offset="200" data-aos-easing="ease-in-sine" data-aos-duration="500">
    <p>AEMWIA is the an NGO in Africa. It provides free Education to all.</p>
  </div>
  <div class="briefing-media col-lg-8 col-12">
    <img class="img-fluid" src="images/aemwia.png" alt="Project AEMWIA" data-aos="fade-left" data-aos-offset="200" data-aos-easing="ease-in-sine" data-aos-duration="500">
    <a href="https://deepakcodefreak.github.io/" target="_blank" data-aos="fade-left" data-aos-offset="200" data-aos-easing="ease-in-sine" data-aos-duration="500"> 
      <button  class="ddd5 btn_width1 btn_width2 btn btn-success" type="button" name="button">Visit</button></a>
  </div>
  <div class="heading col-lg-12 col-12" data-aos="fade-up" data-aos-offset="200" data-aos-easing="ease-in-sine" data-aos-duration="500">
  </div>
 
</div>

<!-- Project AEMWIA Briefing Ends -->

<div class="target6"></div>

<!-- Project LadooMatrimonial briefing -->
<div  id="LADOOMATRIMONIAL" class="container-fluid briefing row" >
  <div class="briefing-header-opp col-lg-12 col-12">
    <h1>LADOO MATRIMONIAL </h1>
  </div>
  <div class="briefing-media-opp  col-lg-8 col-12">
    <img class="img-fluid" src="images/ladoomatrimonial.jpg" alt="Project AEMWIA" data-aos="fade-right" data-aos-offset="200" data-aos-easing="ease-in-sine" data-aos-duration="500">
    <a href="https://www.ladoomatrimonial.com/" target="_blank" data-aos="fade-right" data-aos-offset="200" data-aos-easing="ease-in-sine" data-aos-duration="500">
       <button  class="ddd6 btn_width1 btn_width2 btn btn-success" type="button" name="button">Visit</button></a>
  </div>
  <div class="briefing-content-opp col-lg-4 col-12" data-aos="fade-left" data-aos-offset="200" data-aos-easing="ease-in-sine" data-aos-duration="500">
    <p>AEMWIA is the an NGO in Africa. It provides free Education to all.</p>
  </div>
  
  <div class="heading col-lg-12 col-12" data-aos="fade-up" data-aos-offset="200" data-aos-easing="ease-in-sine" data-aos-duration="500">
  </div>

</div>

<!-- Project LADOOMATRIMONIAL Briefing Ends -->
<div id="target7"></div> 

<!-- Project TIPTOPTUTR Briefing Starts -->
<div  id="TIPTOPTUTR" class="container-fluid briefing row" >
  <div class="briefing-header col-lg-12 col-12">
    <h1>PROJECT TIPTOPTUTOR</h1>
  </div>
  <div class="briefing-content col-lg-4 col-12" data-aos="fade-right" data-aos-offset="200" data-aos-easing="ease-in-sine" data-aos-duration="500">
    <p> Coming Soon
    </p>
  </div>
  <div class="briefing-media col-lg-8 col-12">
    <img class="img-fluid" src="images/comingsoon.jpg" alt="Project TIPTOPTUTOR" data-aos="fade-left" data-aos-offset="200" data-aos-easing="ease-in-sine" data-aos-duration="500">
    <a href="#" data-aos="fade-left" data-aos-offset="200" data-aos-easing="ease-in-sine" data-aos-duration="500"> 
      <button  class="ddd7 btn_width1 btn_width2 btn btn-success" type="button" name="button">Coming Soon</button></a>
  </div>
  <div class="heading col-lg-12 col-12" data-aos="fade-up" data-aos-offset="200" data-aos-easing="ease-in-sine" data-aos-duration="500">
  </div>


<!-- include js file-->