<section class="sevices">
        <!-- put your content -->
      </section>
      <div class="scservices" id="scservices">
          <div class="SocialBanner">
            SOCIAL SERVICES
          </div>
          <div id="NGOs">
            <div class="NGOs" data-aos="fade-up" data-aos-offset="200" data-aos-easing="ease-in-sine" data-aos-duration="500">
              <div class="NgoHeading">
                <h1>USER FRIENDLY WEBSITE</h1>
              </div>
                <p>For your website to be successfull, it should not only look good but also provide a seamless user experience for visitors. This is how we set your website apart from competitors. We supply essential characterstics of a good website: Mobile Compatability, accessible 
                  to all users, well planned information architecture, we formatted content that is easy to scan, fast load times </p>
            </div>
          </div>
          
          <div id="UTSAV">
            <div class="UTSAV" data-aos="fade-up" data-aos-offset="200" data-aos-easing="ease-in-sine" data-aos-duration="500">
              <div class="UtsavHeading">
                <h1>UTSAV</h1>
              </div>
              <p>We dare to bring the change in the society.
                So we distribute the major percentage of the money earned to Orphanages and old-age homes.
                As an IT company we want every child to gain education so we provide the orphans with food, study material and even Sports supplements.
                We provide financial help and treats to orphanages and old age homes on festivals like Diwali,Holi and so on
              </p>
            </div>
          </div>
          <div id="EDUCATION">
            <div class="EDUCATION" data-aos="fade-up" data-aos-offset="200" data-aos-easing="ease-in-sine" data-aos-duration="500">
              <div class="EducationHeading">
                <h1>EDUCATION</h1>
              </div>
              <p>Platform tech Solutions is not only for professionals but also for students. Students are the greatest resource of any community and as an IT company we found it as our duty to provide students especially in technical field with the best career guide.
                We have a lot of opportunities for students like Internships, free career guide, Tech support , trainings and even PPO (Pre Placement Offer) and anyone who already knows any technology and wants to work on Live Projects, then we also have opportunities for them.
                So if you are Interested to join Us, then Platform Tech Solutions Welcomes you.
              </p>
            </div>
          </div>
      
          <div id="UTSAV">
            <div class="UTSAV" data-aos="fade-up" data-aos-offset="200" data-aos-easing="ease-in-sine" data-aos-duration="500">
              <div class="UtsavHeading">
                <h1>UTSAV</h1>
              </div>
              <p>We dare to bring the change in the society.
                So we distribute the major percentage of the money earned to Orphanages and old-age homes.
                As an IT company we want every child to gain education so we provide the orphans with food, study material and even Sports supplements.
                We provide financial help and treats to orphanages and old age homes on festivals like Diwali,Holi and so on
              </p>
            </div>
          </div>
      
          <div id="EDUCATION">
            <div class="EDUCATION" data-aos="fade-up" data-aos-offset="200" data-aos-easing="ease-in-sine" data-aos-duration="500">
              <div class="EducationHeading">
                <h1>EDUCATION</h1>
              </div>
              <p>Platform tech Solutions is not only for professionals but also for students. Students are the greatest resource of any community and as an IT company we found it as our duty to provide students especially in technical field with the best career guide.
                We have a lot of opportunities for students like Internships, free career guide, Tech support , trainings and even PPO (Pre Placement Offer) and anyone who already knows any technology and wants to work on Live Projects, then we also have opportunities for them.
                So if you are Interested to join Us, then Platform Tech Solutions Welcomes you.
              </p>
            </div>
          </div>
         
          <div id="UTSAV">
            <div class="UTSAV" data-aos="fade-up" data-aos-offset="200" data-aos-easing="ease-in-sine" data-aos-duration="500">
              <div class="UtsavHeading">
                <h1>UTSAV</h1>
              </div>
              <p>We dare to bring the change in the society.
                So we distribute the major percentage of the money earned to Orphanages and old-age homes.
                As an IT company we want every child to gain education so we provide the orphans with food, study material and even Sports supplements.
                We provide financial help and treats to orphanages and old age homes on festivals like Diwali,Holi and so on
              </p>
            </div>
          </div>
          <br/><br/><br/><br/>
        </div>
      <!-- SERVICE DESCRIPTION ENDS -->
