<section>
        <div class="jumbotron row">
        <div class="col-lg-6">
           <ul>
               <li>
                   1
               </li>

               <li>
                   2
               </li>

               <li>
                   3
               </li>
                   
               <li>
                    4
               </li>

               <li>
                   5
               </li>

               <li>
                   6
               </li>

           </ul>
        </div>
        <div class="col-lg-6">
            <img class="container" src="./images/platform_services.jpeg">
        </div>
    </div>
</section>