        <style>
                .rrow .row {
                  margin-left: 0px;
                  margin-right: 0px;
                }
              </style>
            


    <div class="fontfamilystyling">
      <!--CARAOUSEL-->
      <div class="caraousel">
        <div class="cycle-slideshow" data-cycle-slides=".slide" data-cycle-pause-on-hover="true">
          <span class="cycle-prev">&laquo;</span>
          <span class="cycle-next">&raquo;</span>
          <span class="cycle-pager"></span>
          <div class="slide">
            <img class="img-fluid" src="images/{{'/assets/images/workingProcess/A7_b.jpg'}}" alt="slide1">
              <div class="slide-text">
                <p>PROFESSIONAL SERVICES<a href="#prservices" class="btn-a">Learn More</a></p>
              </div>
          </div>
          <div class="slide">
            <img src="{{'/assets/images/workingProcess/ngo_sample6.jpg'}}" alt="slide2">
            <div class="slide-text">
              <p>A STEP TOWARDS NGOs<a href="#NGOs" class="btn-c">Learn More</a></p>
            </div>
          </div>
          <div class="slide">
            <img src="{{'/assets/images/workingProcess/utsav_sample8.jpeg'}}" alt="slide3">
            <div class="slide-text">
              <p>CHECK OUT HOW WE CELEBRATE OUR FESTIVALS<br><a href="#UTSAV" class="btn-d">Learn More</a></p>
            </div>
          </div>
          <div class="slide">
            <img src="{{'/assets/images/worrkingProcess/students.png'}}" alt="slide4">
            <div class="slide-text">
              <p>STUDENT SECTION<a href="#EDUCATION" class="btn-e">Learn More</a></p>
            </div>
          </div>
        </div>
      </div>
      <!--CARAOUSEL ENDS-->


</html>
