<!-- Jumbotron -->
<div class="background">
    <div class="jumbotron jumbo-img jumbotron-fluid col-lg-12 col-12">
        <h1 class="col-lg-12 jumbo-text">SERVICE : IOS</h1>
    </div>
</div>
    <!-- Jumbotron ends -->

    <!-- section-2 starts -->
    <div class="container">
            <h3>The SEO services we offer: Organic Search,On-Page SEO, Link Binding, KeyWord Analysis.</h3>
       <br><br>
      <div class="row">
        <div class="col-lg-4">
          <div class="card">
            <div class="box">
              <h4 class="card-title">Card title</h4>
              <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Velit vel dolorum beatae 
                recusandae totam nobis sed quisquam libero officiis. Laborum quis quo velit, atque tempore magni quas 
                voluptatum dicta recusandae?.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card">
            <div class="box">
              <h4 class="card-title">Card title</h4>
              <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam dolorum eaque, 
                neque consequuntur voluptatum maxime, reprehenderit nihil illum iure voluptas incidunt. Fugit dolorum 
                aspernatur rerum neque delectus iste voluptatum voluptate?.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card">
            <div class="box">
              <h4 class="card-title">Card title</h4>
              <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius facere dicta, minima aut
                 id dolorem nisi, inventore placeat delectus labore illum facilis ipsa officiis asperiores recusandae.
                  Libero mollitia atque quisquam. </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br><br><br>
    <!-- section-2 ends -->


    <!--section-3 starts-->
 <div style="background-color: cadetblue; padding-top: 50px;">

    <div class="container">
      <div class="row">
        <div class="col-md-4 col-lg-4">
          <div class="card-tv">
            <a href="pic1.png" target="_blank"></a>
            <img src="{{'/assets/images/service-ios/pic1.png'}}" alt="Lights" style="width:100%">
          </div>
          <div class="caption"></div>
          <p>Lorem ipsum
            dolor sit amet consectetur adipisicing elit. Voluptate cumque accusantium aspernatur
            asperiores illo animi, aperiam neque quaerat debitis ex iusto tenetur minus quidem
            consectetur natus delectus repudiandae? Provident, molestias.</p>
        </div>
        <div class="col-md-4 col-lg-4">
          <div class="card-tv">
            <a href="pic2.png" target="_blank"></a>
            <img src="{{'/assets/images/service-ios/pic2.png'}}" alt="Nature" style="width:100%">
          </div>
          <p>Lorem ipsum dolor
            sit amet consectetur adipisicing elit. Nulla eveniet quas saepe? Recusandae incidunt sapiente itaque,
            voluptates molestiae quidem aut culpa deserunt quod temporibus qui consectetur, autem soluta nisi
            voluptate? wer wefws sfsfg fdsgdfsg jkgfdgnjdkg</p>
        </div>
        <div class="col-md-4 col-lg-4">
          <div class="card-tv">
            <a href="pic3.png" target="_blank"></a>
            <img src="{{'/assets/images/service-ios/pic3.png'}}" alt="Fjords" style="width:100%">
          </div>
          <div class="caption">
            <p>Lorem ipsum
              dolor sit amet consectetur adipisicing elit. Quaerat, ut consectetur debitis temporibus consequuntur
              veritatis! Iure neque beatae eum impedit ad, aut quia dolorem, nisi, illo ab corrupti aperiam a. sadb
              kajhdua QSHIU shsi sfgyusgbjahgd md jagakjbdua</p>
          </div>
        </div>
      </div>
    </div>
</div>

    <!--section-3 ends--> <br><br>
    <!--section-4 starts-->
    <div class="form-map">
      <div class="row foot">
        <div class="col-sm-6 col-lg-6 col-md-12 col-12 map map-body">
          <div class="mapouter">
            <div class="gmap_canvas" style="padding-left: 90px;">
              <p>
                Lorem ipsum
                dolor sit amet consectetur adipisicing elit. Quaerat, ut consectetur debitis
                temporibus consequuntur
                veritatis! Iure neque beatae eum impedit ad, aut quia dolorem, nisi, illo ab
                corrupti aperiam a. sadb
                kajhdua QSHIU shsi sfgyusgbjahgd md jagakjbdua Lorem ipsum dolor sit amet consectetur adipisicing elit.
                 Neque ut voluptate omnis harum? Magni voluptate ipsa corporis exercitationem praesentium nam nobis
                  aliquam doloribus molestias, culpa odit ad laborum itaque necessitatibus. Lorem ipsum dolor sit amet,
                   consectetur adipisicing elit. Accusamus, quas laudantium laborum magni, labore velit possimus consectetur,
                    atque cum reiciendis incidunt excepturi! Optio tempora dolorum minus quis perferendis saepe fuga.
                     Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis architecto deserunt nesciunt quaerat
                      provident impedit neque perferendis cumque? Et rerum quisquam maxime modi tempora ex accusantium tempore veniam aliquid voluptatum.</p>
              <a href="https://www.pureblack.de"></a>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-lg-6 col-md-12 col-12">
          <div class="col-sm-8 col-sm-offset-2">
            <div class="well" width="100" height="100" style="padding-left: 50px; ">
              <h1 class="text-center head"><b>Drop Your Query</b></h1>
              <form class="form-horizontal" action="https://formspree.io/deepak19.engg@gmail.com" method="POST">
                <div class="form-group"><label for="Name" class="control-label head">Enter Your Name
                    :</label>
                  <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-user"></i></div><input type="text"
                      class="form-control field-input" name="name">
                  </div>
                </div>
                <div class="
                        form-group"><label for="Name" class="control-label head">Enter Your Email* :</label>
                  <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-envelope"></i></div><input type="email"
                      class="form-control field-input" name="_replyto">
                  </div>
                </div><input type="hidden" name="_subject" value="submission from site">
                <div class="form-group"><label for="Name" class="control-label head">Enter the message
                    :</label><textarea class="form-control" name="message" rows="5"></textarea></div>
                <p class="text-center"><button type="submit" class="btn btn-success">Submit Now</button></p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>