<!--section-3 starts-->
 <div style="background-color: cadetblue; padding-top: 50px;">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-lg-4">
          <div class="card-tv">
            <a href="pic1.png" target="_blank"></a>
            <img src="{{'/assets/images/service-seo/pic1.png'}}" alt="Lights" style="width:100%">
          </div>
          <div class="caption"></div>
          <p>Lorem ipsum
            dolor sit amet consectetur adipisicing elit. Voluptate cumque accusantium aspernatur
            asperiores illo animi, aperiam neque quaerat debitis ex iusto tenetur minus quidem
            consectetur natus delectus repudiandae? Provident, molestias.</p>
        </div>
        <div class="col-md-4 col-lg-4">
          <div class="card-tv">
            <a href="pic2.png" target="_blank"></a>
            <img src="{{'/assets/images/service-seo/pic2.png'}}" alt="Nature" style="width:100%">
          </div>
          <p>Lorem ipsum dolor
            sit amet consectetur adipisicing elit. Nulla eveniet quas saepe? Recusandae incidunt sapiente itaque,
            voluptates molestiae quidem aut culpa deserunt quod temporibus qui consectetur, autem soluta nisi
            voluptate? wer wefws sfsfg fdsgdfsg jkgfdgnjdkg</p>
        </div>
        <div class="col-md-4 col-lg-4">
          <div class="card-tv">
            <a href="pic3.png" target="_blank"></a>
            <img src="{{'/assets/images/service-seo/pic3.png'}}" alt="Fjords" style="width:100%">
          </div>
          <div class="caption">
            <p>Lorem ipsum
              dolor sit amet consectetur adipisicing elit. Quaerat, ut consectetur debitis temporibus consequuntur
              veritatis! Iure neque beatae eum impedit ad, aut quia dolorem, nisi, illo ab corrupti aperiam a. sadb
              kajhdua QSHIU shsi sfgyusgbjahgd md jagakjbdua</p>
          </div>
        </div>
      </div>
    </div>
</div>

    <!--section-3 ends-->
    <!--section-4 starts-->
