      <!--Project Index Starts   -->
      <div class="container-fluid landing-box row">
          <h1 class="col-lg-12 col-12 col-md-12">Our Services
              <div class="line"></div>
          </h1>
          <div class="col-lg-4 col-12 col-md-4" data-aos="flip-down" data-aos-offset="200"
              data-aos-easing="ease-in-sine" data-aos-duration="500">
              <div class="media-background">
                  <div class="media-object">
                      <img src="{{'/assets/img/services/100X100.gif'}}" alt="Project Yantrix"
                          class="img-fluid">
                      <div class="media-heading">
                          <h3>PROJECT YANTRIX</h3>
                      </div>
                      <div class="media-description">
                          <a href="#target1"><button type="button" name="button" class="btn btn-primary">Learn
                                  More</button></a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-12 col-md-4" data-aos="flip-down" data-aos-offset="200"
              data-aos-easing="ease-in-sine" data-aos-duration="500" data-aos-delay="115">
              <div class="media-background">
                  <div class="media-object">
                      <img class="img-fluid" src="{{'/assets/img/services/100X100.gif'}}" class="img-fluid"
                          alt="Project ECELL">
                      <div class="media-heading">
                          <h3>PROJECT ECELL</h3>
                      </div>
                      <div class="media-description">
                          <a href="#target2"><button type="button" name="button" class="btn btn-primary">Learn
                                  More</button></a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-12 col-md-4" data-aos="flip-down" data-aos-offset="200"
              data-aos-easing="ease-in-sine" data-aos-duration="500" data-aos-delay="250">
              <div class="media-background">
                  <div class="media-object">
                      <img src="{{'/assets/img/services/100X100.gif'}}" class="img-fluid" alt="Project MLA TRACK">
                      <div class="media-heading">
                          <h3> PROJECT MLA TRACK</h3>
                      </div>
                      <div class="media-description">
                          <a href="#target3"><button type="button" name="button" class="btn btn-primary">Learn
                                  More</button></a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-12  col-md-4" data-aos="flip-down" data-aos-offset="200"
              data-aos-easing="ease-in-sine" data-aos-duration="500" data-aos-delay="350">
              <div class="media-background">
                  <div class="media-object">
                      <img src="{{'/assets/img/services/100X100.gif'}}" class="img-fluid" alt="Project MUN">
                      <div class="media-heading">
                          <h3> PROJECT MUN</h3>
                      </div>
                      <div class="media-description">
                          <a href="#target4">
                              <button type="button" name="button" class="btn btn-primary">Learn More</button>
                          </a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-12 col-md-4" data-aos="flip-down" data-aos-offset="200"
              data-aos-easing="ease-in-sine" data-aos-duration="500" data-aos-delay="450">
              <div class="media-background">
                  <div class="media-object">
                      <img src="{{'/assets/img/services/100X100.gif'}}" class="img-fluid" alt="Project AEMIA">
                      <div class="media-heading">
                          <h3> PROJECT AEMWIA</h3>
                      </div>
                      <div class="media-description">
                          <a href="#target5">
                              <button type="button" name="button" class="btn btn-primary">Learn More</button>
                          </a>
                      </div>
                  </div>
              </div>
          </div>
          <div class=" col-md-4 col-lg-4 col-12 " data-aos="flip-down" data-aos-offset="200"
              data-aos-easing="ease-in-sine" data-aos-duration="500" data-aos-delay="600">
              <div class="media-background">
                  <div class="media-object">
                      <img src="{{'/assets/img/services/100X100.gif'}}" alt="Project TIPTOPTUTOR">
                      <div class="media-heading">
                          <h3>TIPTOPTUTOR</h3>
                      </div>
                      <div class="media-description">
                          <a href="#target6">
                              <button type="button" name="button" class="btn btn-primary disabled">COMING SOON</button>
                          </a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!--Project Index Ends-->