
      <!-- TECHNOLOGIES -->
      <br/><br/><br/>
      <section class="technologies">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 technology">
              <h3 class="title-heading head">TECHNOLOGIES</h3><br/>
              <div class="row">
                <div class="col-4 col-xs-4 col-sm-4 col-md-4 col-lg-4">
                  <div class="text-center">
                    <img src="{{'/assets/images/technology/Ai.png'}}" alt="Thumbnail Image 1">
                  </div>
                </div>
                <div class=" col-4 col-xs-4 col-sm-4 col-md-4 col-lg-4">
                  <div class="text-center">
                    <img src="{{'/assets/images/technology/html5.png'}}" alt="Thumbnail Image 1">
                  </div>
                </div>
                <div class="col-4 col-xs-4 col-sm-4 col-md-4 col-lg-4">
                  <div class="text-center">
                    <img src="{{'/assets/images/technology/bootstrap.png'}}" alt="Thumbnail Image 1">
                  </div>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-4 col-xs-4 col-sm-4 col-md-4 col-lg-4">
                  <div class="text-center">
                    <img src="{{'/assets/images/technology/sass.png'}}" alt="Thumbnail Image 1">
                  </div>
                </div>
                <div class="col-4 col-xs-4 col-sm-4 col-md-4 col-lg-4">
                  <div class="text-center">
                    <img src="{{'/assets/images/technology/jquery.png'}}" alt="Thumbnail Image 1">
                  </div>
                </div>
                <div class="col-4 col-xs-4 col-sm-4 col-md-4 col-lg-4">
                  <div class="text-center">
                    <img src="{{'/assets/images/technology/cloud.png'}}" alt="Thumbnail Image 1">
                  </div>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-4 col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div class="text-center">
                  <img src="{{'/assets/images/technology/aws.png'}}" alt="Thumbnail Image 1" style="margin-top: 1.5rem;">
                </div>
              </div>
              <div class="col-4 col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div class="text-center">
                  <img src="{{'/assets/images/technology/git.png'}}" alt="Thumbnail Image 1" style="margin-top: 1.5rem;">
                </div>
              </div>
              <div class="col-4 col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div class="text-center">
                  <img src="{{'/assets/images/technology/gulp.png'}}" alt="Thumbnail Image 1">
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="Platforms">
            <h3 class="title-heading head">Platforms</h3>
              <div class="internal-nav">
                <ul id="myTab1" class="nav nav-tabs row" align="center">
                  <li class="technav1 col-4"><button class="btn btn-link activebtn" id="btn1" href="#pane1" data-toggle="tab">Django/Python</button></li>
                  <li class="technav2 col-4"><button class="btn btn-link" id="btn2" href="#pane2" data-toggle="tab" >NodeJS/ReactJS</button></li>
                  <li class="technav3 col-4"><button class="btn btn-link" id="btn3" href="#pane3" data-toggle="tab">Wordpress/PHP</button></li>
                </ul>
              </div>
              <div id="myTabContent1" class="tab-content row">
                <div class="tab-pane fade-in active text" id="pane1" style= "margin-left: 2rem; margin-top: 1rem;">
                  <div class="flip-box col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12" align="center">
                    <div class="flip-box-inner">
                      <div class="flip-box-front">
                        <img src="{{'/assets/images/technology/Python_Django.jpg'}}" alt="Python/Django">
                      </div>
                      <div class="hovereffect" data-aos="flip-up">
                           Click on the image to know more
                      </div>
                      <div class="flip-box-back">
                        <h2>Python/Django</h2>
                        <p>Django is a high-level Python Web framework that encourages rapid development and clean, pragmatic design.It takes care of much of the hassle of Web development, so you can focus on writing your app without needing to reinvent the wheel.</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade text" id="pane2" style= "margin-left: 2rem; margin-top: 1rem;">
                  <div class="flip-box col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="flip-box-inner">
                      <div class="flip-box-front">
                        <img src="{{'/assets/images/technology/Node_React.jpeg'}}" alt="Reactjs/Nodejs">
                      </div>
                      <div class="hovereffect" data-aos="flip-up">
                           Click on the image to know more
                      </div>
                      <div class="flip-box-back">
                        <h2>Nodejs/Reactjs</h2>
                        <p>NodeJS is the run-time javascript which provides Backend solution in javascript and it is build on chrome V8 Engine and on the other hand we have ReactJs which is a javascript framework for Front-End.Combining these 2 is a great solution to make a full flages website.</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade text" id="pane3" style= "margin-left: 2rem; margin-top: 1rem;">
                  <div class="flip-box col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="flip-box-inner">
                      <div class="flip-box-front">
                        <img src="{{'/assets/images/technology/Wordpress_Php.png'}}" alt="Wordpress/PHP">
                      </div>
                      <div class="hovereffect" data-aos="flip-up">
                           Click on the image to know more
                      </div>
                      <div class="flip-box-back">
                        <h2>Wordpress/PHP</h2>
                        <p>PHP is a programming and scripting language to create dynamic interactive websites. WordPress is written using PHP as the scripting language. PHP is a server side programming language. The PHP pre-processor then generates HTML output to be displayed on the user’s browser screen.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </section>
      <br/>
      <!-- TECHNOLOGIES ENDS -->