<section class="client">
    <div class="container slider-body">
            <header class="text-center mb-70">
                    <h2 class="with-bg-text has-line-center">
                      <span class="heading-bg-text">Our Clients<!--</span><span class="meet">More About Us</span>-->
                    </h2>
                  </header>
        <div class="row">
            <div class="carousel-client">
                <div class="slide"><img src="https://grandvincentmarion.github.io/_img/slider-logo1.png"></div>
                <div class="slide"><img src="https://grandvincentmarion.github.io/_img/slider-logo2.png"></div>
                <div class="slide"><img src="https://grandvincentmarion.github.io/_img/slider-logo3.png"></div>
                <div class="slide"><img src="https://grandvincentmarion.github.io/_img/slider-logo1.png"></div>
                <div class="slide"><img src="https://grandvincentmarion.github.io/_img/slider-logo2.png"></div>
                <div class="slide"><img src="https://grandvincentmarion.github.io/_img/slider-logo3.png"></div>
            </div>
        </div>
    </div>
</section>