<div class="heading container chooseHeading">
    <h1 class="headingWhyChoose">WHY CHOOSE US</h1>
        <div class="row">
            
            <div class="col-sm-6">
                <img src="{{'/assets/images/why-choose-us/index.jpeg'}}" class="chooseImg"alt="bg" height="400px" width="500px">
            </div>
            <div class="col-sm-6">
                <p>
                    <ul>
                        <li><span class="fa fa-check"></span>Platform Tech Solutions offers web application development
                            assistance for business and marketing purposes.</li> 
                        <li><span class="fa fa-check"></span> Platform tech solutions offer a full range of service levels,
                            from the small static website to the complex custom web application.</li> 
                        <li><span class="fa fa-check"></span>Programmer resources for staff-augmentation purposes are also
                            available. </li>
                        <li><span class="fa fa-check"></span>Platform tech solutions use the design template developed by
                            PlatformTechCloud as the standard offering.</li>
                        <li><span class="fa fa-check"></span> For medium- to large-size projects, we use a method of project
                            management, which is intended to keep the client intimately involved with the direction of the
                            project.
                        </li>
                    </ul>
                </p>
            </div>
    </div>