 <!-- Start About Section -->
 <section id="about" class="about">
    <div class="container col-sm-12 ">
      <header class="text-center mb-70">
        <h2 class="with-bg-text has-line-center">
          <span class="heading-bg-text">About</span><span class="meet">More About Us</span>
        </h2>
      </header>
      <div class="aboutContainer">
      <div class="col-md-6 col-sm-6">
        <img src="{{'/assets/images/why-choose-us/4.png'}}" class="center-block width-100" alt="image">
      </div>
      <div class="col-md-6 col-sm-6">
        <h2 class="has-line">Check out how we will get you satisfied</h2>
        <p class="lead mb-20" style="color:black">Platform Tech Solutions uses UCD(User Centred Design) Methodology for their projects. In which we try to optimize the product around how users can, want, or need to use the product, rather than forcing the users to change their behavior to accommodate the product.
        </p>
        <ul class="s-list list-unstyled mb-20">
          <li><span class="fa fa-check"></span>Transparent Tracking system that provide the customers with their desired projects </li>
          <li><span class="fa fa-check"></span>Using Cutting Edge Technologies for our projects</li>
          <li><span class="fa fa-check"></span>A good teamwork ensures good output</li>
        <li><span class="fa fa-check"></span>Analysing the difference between market and our products</li>
          <!--   <li><span class="fa fa-check"></span>Transparent Tracking system that provide the customers with their desired projects</li> -->
        </ul>
      </div>
    </div>
</div>
  </section>
  <!-- End About Section -->
