
// /* Jumbotron starts */
// 
  
//   .jumbo-img{
//       height: 50vh;
//   }
  
//   .jumbotron h1 {
//     color: #fff;
//     font-family: "Cinzel", serif;
//     font-size: 35px;
//   }

.jumbo-img{
         background: url('../../../assets/images/about/about-jumbo-img.png');
         background-size: cover;
         margin-bottom: 8px;
         text-align: center;
         width: 100vw;
         height: 65vh;
         margin-bottom: 0px;
     }

.jumbo-text{
        margin-top: 3em;
     }

.link-item{
    color: #484C55;
    padding-right: 0px;
    width: 100%;
}

.link-item:hover{
    color: #000;
    // width: 100%;
}

.about-item:hover{
    background-color:#e9ecef;
    width: 96%;
    border-radius: 5px;
}

.item-box{
    padding-top: 5rem;
    padding-left: 0px;
}
 
  
  
//   /* Jumbotron Ends */