
/* Jumbotron starts */
.jumbotron {
    background: url("images/jumbotron-image.jpg");
    background-size: cover;
    margin-bottom: 8px;
    text-align: center;
    
  }
  
  .jumbo-img{
      height: 50vh;
  }
  
  .jumbotron h1 {
    color: #fff;
    font-family: "Cinzel", serif;
    font-size: 35px;
  }

 
  
  
  /* Jumbotron Ends */